mint{
    display: grid;
    grid-template-columns: auto auto;
    justify-content: space-between;
    margin: 0 auto;
    width: 90%;
}

food{
    text-align:center;
    padding:40px;
}
jinx{
    background-color: aliceblue;

}